* {
    font-family: Roboto;
}


.header {
    background-color: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

}

.left-header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    padding-left: 200px;
    font-weight: 900;
}

.right-header {
    display: flex;
    color: white;
    padding-right: 200px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
}

img {
    width: 288px;
    height: 200px;
    object-fit: cover;
    object-position: middle;
}

.hero-section {
    background-color: light;
    background-color: #323946;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.secondary-text {
    padding-bottom: 15px;
}

.hero-text-only {
    padding-left: 100px;
    width: 500px;
}

span {
    color: fuchsia;
}


