* {
    font-family: Roboto;
}


.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

}

.left-header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    padding-left: 200px;
    font-weight: 900;
}

.right-header {
    display: flex;
    color: white;
    padding-right: 200px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
}